*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  font-family:Arial;
}

nav{
  background: #0082e6;
  height:80px;
  width: 100%
}
label.logo
{
  color:white;
  font-size:35px;
  line-height:80px;
  padding:0 100px;
  font-weight:bold;
}
nav ul{
  float:right;
  margin-right:20px;
}

nav ul li{
  display:inline-block;
  line-height: 80px;
}

nav ul li a{
  color:white;
  font-size:17px;
  padding: 7px 13px;
  text-transform:uppercase;
}

a:hover{
  background: #1b9bff;
  transition:0.1s
}

p{
  font-size: calc(0.8rem + 1vw);
  color: var(--text-color);
  text-align: center;
  padding-top: 100px;
  width: 300px;
  height:300px;
}
