<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/f.css">
  </head>

  <body>
    <nav>
    <label class="logo">SummyBuddy x Features</label>
    <ul>
      <li><a href="/lp">Home</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/sign">Learn </a></li>
    </ul>
    </nav>
  </body>
  <section>

<h2 class="name">Text Summary</h2>
  <p>
    Keep it classic. Copy and paste a text document of your choice onto our
    page. Press upload and get a concise summary that keeps main and relevant
    points for you to speed read at your discretion.
    </p>
<h1 class="name">Vocabulary Quiz</h1>
  <p>
  Half of reading is being able to expand your vocabulary skills. Use our summarizer to select vocabulary terms, and definitions out of the passage without the need to read it.
    </p>
<h1 class="name">Relevency Percentage </h1>
  <p>
  Ever question whether or not an article is worth the read while writing a research paper? Never wonder again, our text summarizer counts the concentration of select terms to see how useful an article will be to your paper.
    </p>

</html>
