<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/pricing.css">
  </head>

  <body>
    <nav>
    <label class="logo">SummyBuddy x Pricing</label>
    <ul>
      <li><a href="/lp">Home</a></li>
      <li><a href="/feature">Features</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/sign">Learn </a></li>
    </ul>
    </nav>
  </body>
  <section>

<h2 class="name">Basic</h2>
  <p>
    Enjoy our services for free for up to 10 text scans per month!
    </p>
<h1 class="name">Premium</h1>
  <p>
  Pay $4.99 per month for unlimited text analysis.
    </p>

</html>
