<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/su2.css">
  </head>

  <body>
    <nav>
    <label class="logo">SummyBuddy x Sign UP</label>
    <ul>
      <li><a href="/lp">Home</a></li>
      <li><a href="/feature">Features</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    </nav>
  </body>
  <section>

  <body>


      <p> Congratulations on taking your first step. You have successfully signed up. Look out for our newsletter on next steps!</p>

</body>


</html>
